/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@600&display=swap');

:root {
	--tan: #f2dbc8;
	--previous-font: 'Abril Fatface', serif;
	--login-font: 'Lobster', sans-serif;
	--questions-font: 'Gelasio', serif;
	--buttons-font:
}

body {
	background-color: #721a18;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	height: 100%;
	/* font-family: var(); */
}

html {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.background {
	background-image: url(/WeinerDog.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

/* .overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	/* margin: 5%; */
/* margin-left: 25px;
	margin-top: 20px;
	color: white;
	font-size: 4rem;
} */

.logo {
	width: 350px;
	height: 150px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: 20px;
}

.container {
	display: flex;
	justify-content: center;
}

.login {
	display: block;
	margin-left: auto;
	padding: 30px;
	padding: 20px;
	margin-top: 30px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 36px;
	color: #e2be89;
	font-family: var(--login-font);
}

/* .formContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 2rem;
	flex-wrap: wrap;
	opacity: 100%;
	padding-top: 10%;
} */

.containerOne {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.containerOne div {
	display: flex;
	flex-direction: row;
}

.btns {
	border-radius: 5px;
	min-height: 30px;
	min-width: 50px;
	background-color: var(--tan);

	/* font-family: 'Abril Fatface', serif; */
	margin: 20px;
}

.card {
	margin: 40px;
}

.card h4 {
	font-weight: bold;
}

.login-background {
	background-image: url(/iStock-996519874.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-login-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signupForm-container,
.loginForm-container {
	height: 450px;
	width: 350px;
	border-radius: 50% 20% / 10% 40%;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	font-family: var(--login-font);
	display: flex;
	justify-content: center;
	align-items: center;
}

.signupForm-container {
	background-color: #CC2522;
	margin-right: 10px;
}

.loginForm-container {
	background-color: #E8AE02;
	margin-left: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form h4 {
	font-size: 2rem;
	margin: 4px;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.signup-h4 {
	color: #E8AE02;
}

.login-h4 {
	color: #CC2522;
}

.form-input {
	border-radius: 5px;
	background: rgb(249, 250, 250);
	border: 1px solid rgb(181, 189, 196);
	font-size: 16px;
	height: 40px;
	line-height: 24px;
	padding: 7px 8px;
	color: rgb(8, 9, 10);
	box-shadow: none;
	margin-bottom: 10px;
}

.form-input::placeholder {
	font-size: 15px;
	color: #C57B27;
	font-family: var(--questions-font);
}

.btn {
	outline: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 3px;
	padding: 12px 24px;
	border: 0;
	color: #C57B27;
	background: #e7ebee;
	line-height: 1.15;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	margin-top: 15px;
}

.questionOne-container,
.quizContainer {
	background-image: url(/iStock-996519874.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.questionOne,
.quizComponent {
	font-family: var(--questions-font);
	font-size: 48px;
	font-weight: bolder;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	opacity: 100%;
}

@media screen and (max-width: 768px) and (max-width: 468px) {

	.formContainer,
	.questionOne-container,
	.quizContainer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		min-height: auto;
		margin: 0;
		font-size: 1.5rem;
		padding-left: 12%;
		padding-top: 0px;
		padding-bottom: 7%;
	}

	.login-background {
		position: relative;
		height: 800px;
	}

	.loginForm-container,
	.signupForm-container {
		min-width: 150px;
		min-height: 150px;
		justify-content: center;
		align-items: center;
	}

	.background {
		/* position: relative; */
		background-size: cover;
		height: 325px;
	}

}

@media screen and (max-width: 768px) {

	.login {
		margin-right: 27%;
		margin-top: 100px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 100px;
	}

	.overlay-text {
		position: absolute;
		padding-left: 100px;
	}

}