:root {
 --tan: #ECAD71;
}

body {
	background-color: rgb(69, 115, 99);
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	height: 100%;
}

html {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.background {
	background-image: url(/WeinerDog.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	/* margin: 5%; */
	margin-left: 25px;
	margin-top: 20px;
	color: white;
	font-size: 4rem;
}

.container {
	display: flex;
	justify-content: center;
}

.login-background {
	background-image: url(/hotdogs.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	/* position: absolute; */
	width: 100%;
}

.formContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 2rem;
	flex-wrap: wrap;
	opacity: 100%;
	padding-top: 10%;
}

.card {
	margin: 40px;
}

.card h4 {
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 2px black solid;
	min-height: 250px;
	min-width: 300px;
	border-radius: 10px;
	padding: 10px;
	opacity: 100%;
	background-color: #721a18;
	box-shadow: 5px 5px 10px 0px;
}

.form h4 {
	font-size: 2rem;
	margin: 4px;
	font-weight: 900;
	color: var(--tan);
}

.form-input {
	margin: 5px;
	width: 80%;
	height: 30px;
	border-radius: 5px;
  background-color: var(--tan);
}

.btn {
	border-radius: 5px;
	min-height: 30px;
  background-color: var(--tan)
}

.login {
	display: block;
	margin-left: auto;

	padding: 30px;

	padding: 20px;

	text-decoration: none;
	font-size: x-large;
	color: aliceblue;
}

@media screen and (max-width: 768px) {
	.formContainer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		min-height: auto;
		margin: 0;
		font-size: 1.5rem;
		padding-left: 12%;
		padding-top: 0px;
		padding-bottom: 7%;
	}

	.login-background {
		position: relative;
		height: 800px;
	}

	.form {
		min-width: 150px;
		min-height: 150px;
		justify-content: center;
		align-items: center;
	}
}
