/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
	/* --tan: #f2dbc8; */
	--ketchup: #cc2522;
	--mustard: #e8ae02;
	--default-color: #ffffff;
	--buttons-text-color: #c57b27;
	--buttons-background-color: #e7ebee;
	/* --previous-font: 'Abril Fatface', serif; */
	--default-font: 'Gelasio', serif;
	--most-used-font: 'Bangers';
}

body {
	background-color: var(--ketchup);
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background-container,
.login-background,
.questionOneAndHeader,
.quizHeaderAndQuestions,
.see-this-message {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.background-container {
	background-image: url(/WeinerDog.jpg);
}

.login-background,
.questionOneAndHeader,
.quizHeaderAndQuestions,
.see-this-message {
	background-image: url(/iStock-996519874.jpg);
}

.logo {
	width: 350px;
	height: 150px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: 20px;
	position: fixed;
	top: 0;
	left: 0;
}

.signuploginheader {
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 25px;
	color: #e2be89;
	font-family: var(--default-font);
	position: fixed;
	top: 0;
	right: 0;
}

.background-container,
.login-background,
.signup-login-container,
.signupForm-container,
.loginForm-container,
.form,
.form h4,
.signup-button,
.login-button,
.signup-errormessage,
.login-errormessage,
.yes-button,
.no-button,
.yes-no-buttons,
.username-logout-buttons,
.questionOneAndHeader,
.quizHeaderAndQuestions,
.selectionandnext,
.quiz-completed,
.see-this-message {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signupForm-container,
.loginForm-container {
	height: 450px;
	width: 350px;
	border-radius: 50% 20% / 10% 40%;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	font-family: var(--most-used-font);
}

.signupForm-container {
	background-color: var(--ketchup);
	margin-right: 10px;
}

.loginForm-container {
	background-color: var(--mustard);
	margin-left: 10px;
}

.form {
	flex-direction: column;
}

.form h4 {
	font-size: 2rem;
	margin: 4px;
	font-weight: 900;
	margin-bottom: 25px;
}

.signup-h4 {
	color: var(--mustard);
}

.login-h4 {
	color: var(--ketchup);
}

.form-input {
	border-radius: 5px;
	background: rgb(249, 250, 250);
	border: 1px solid rgb(181, 189, 196);
	font-size: 16px;
	height: 40px;
	line-height: 24px;
	padding: 7px 8px;
	color: rgb(8, 9, 10);
	box-shadow: none;
	margin-bottom: 10px;
}

.form-input::placeholder {
	font-size: 15px;
	color: var(--buttons-text-color);
	font-family: var(--default-font);
}

.signup-button,
.login-button {
	font-size: 24px !important;
	margin-top: 15px;
}

.signup-button,
.login-button,
.logout-button,
.yes-button,
.no-button,
.next-button,
.submitanswers-button {
	outline: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 3px;
	padding: 12px 24px;
	border: 0;
	color: var(--buttons-text-color);
	background: var(--buttons-background-color);
	font-family: var(--most-used-font);
	line-height: 1.15;
	max-width: 50%;
	white-space: nowrap;
}


.yes-button,
.no-button,
.next-button,
.submitanswers-button {
	color: var(--buttons-text-color);
	background: linear-gradient(
		45deg,
		var(--ketchup),
		#df9400,
		#e5a933,
		#ecbf66,
		#f2d499,
		#f9eacc
	);
}

.yes-button,
.no-button,
.next-button {
	font-size: 24px;
}

/* 
.next-button {
	margin-left: 10px;
	height: 55px;
	width: 150px;
} */

.submitanswers-button {
	margin-top: -50px;
	font-size: 28px;
}

.signup-errormessage,
.login-errormessage {
	font-family: var(--default-font);
	font-size: 20px;
	margin-top: 25px;
}

.signup-errormessage {
	color: var(--mustard);
}

.login-errormessage {
	color: var(--ketchup);
}

.username-logout-buttons {
	position: fixed;
	left: 0;
	right: 0;
	top: 20px;
	flex-direction: row;	
	/* margin-left: 17%; */
}

.username-button {
	margin-right: 10px;
	text-decoration: none;
	color: var(--mustard);
	font-family: var(--default-font);
	font-size: 28px;
}

.logout-button {
	font-size: 18px;
	margin-left: 10px;
	background-color: #cc2522;
	text-align: center;
	
}

.yes-button {
	margin-right: 5px;
	width: 25%;
}

.no-button {
	margin-left: 5px;
	width: 25%;
}

.yes-no-buttons {
	flex-direction: row;
	margin-top: 25px;
}

.questionOne,
.quizComponent,
.quiz-completed {
	font-family: var(--most-used-font);
	font-size: 4rem;
	background: linear-gradient(
		45deg,
		#df9400,
		#e5a933,
		#ecbf66,
		#f2d499,
		#f9eacc,
		var(--ketchup),
		var(--ketchup),
		var(--ketchup)
	);
	-webkit-background-clip: text;
	color: transparent;
}

.questionOne {
	margin-top: -100px;
}

.quizComponent  {
	margin-top: -150px;
	max-width: 50%;
	font-size: 4rem;
}

.selectionandnext {
	margin-top: -25px;
}

.selection,
.options {
	margin-right: 10px;
	/* width: 150px; */
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-size: 28px;
	font-weight: 500;
	height: 55px;
	width: 350px;
	text-align: center;
	font-family: var(--most-used-font);
	color: var(--buttons-text-color);
	background: linear-gradient(
		45deg,
		var(--ketchup),
		#df9400,
		#e5a933,
		#ecbf66,
		#f2d499,
		#f9eacc
	);
}

.quiz-completed {
	flex-direction: column;
	font-size: 4rem;
	
}

.see-this-message {
	font-family: var(--default-font);
	font-size: 36px;
	color: var(--default-color);
}

@media screen and (max-width: 768px) {
	.questionOneAndButtons {
		margin-top: 75px;
		margin-left: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.questionOne,
	.quizComponent,
	.quiz-completed {
		font-size: 2.5rem;
		max-width: 80%;
	}

	.yes-button, .no-button {
		width: 50px;
		height: 50px;
		margin: 0 15px; 
	}

	.signup-login-container {
		flex-direction: column; /* Stack containers vertically */
		align-items: center; /* Center containers horizontally */
	}

	.signupForm-container,
	.loginForm-container {
		margin: 10px 0; /* Add some space between the stacked containers */
		max-width: fit-content;
		max-height: fit-content;
	}

	.form-input {
		font-size: 14px;
		height: 30px;
		line-height: 20px;
		padding: 7px 8px;
	}

	.username-logout-buttons {
		margin-left: 5%;
	}

	.quizComponent, .quiz-completed {
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		
		/* max-width: 70%; */
	}

	.selection,
	.options {
		max-height: 40px;
		max-width: 200px;
	}

	.submitanswers-button {
		margin-top: 0.1%;
		margin-left: 25%;
	}
}
